---
layout: page
title: {{data["title"]}}
group: twitter-stats
---
        <!-- a partir de aquí empieza la plantilla -->
        {% if data["general"] is defined %}
        <h2>General</h2>
        <div class="row">
          <div class="span12">
            <div class="twitter-stats">
              <code></br>
              {{ "Run on"|strFormat(format='{:.<20}') }} {{data["general"]["run"]|strFormat(format='{:%A, %Y/%m/%d %H:%m:%S}')}}<br/>
              {{ "Stats from"|strFormat(format='{:.<20}') }} {{data["general"]["from"]|strFormat(format='{:%Y/%m/%d %H:%M}')}}<br/>
              {{ "Stats to"|strFormat(format='{:.<20}') }} {{data["general"]["to"]|strFormat(format='{:%Y/%m/%d %H:%M}')}}<br/>
              {{ "Total tweets"|strFormat(format='{:.<20}') }} {{data["general"]["totalTweets"]|prettyint}}
              </code>
            </div>
          </div>
        </div>
        {% endif %}

        {% if data["clientCount"] is defined %}
        <h2>Clients</h3>
        <div class="row">
          <div class="span4">
            <div class="twitter-stats">
              <code></br>{% set i = 1 %}
              {%- for item in data["clientCount"] -%}
              {{ "%3s"|format(i)|replace(" ","&nbsp;")}}.  {{ item[1]|unidecode|striptags|strFormat(format='{:.<30}')}}  {{item[0]|prettyint|strFormat(format="{: >6}")|replace(" ","&nbsp;")}}{% set i = i+ 1 %}<br/>{%- endfor -%}
              </code>
            </div>
          </div>
          <div class="span8">
            <div id="clients_chart_div" ></div>
          </div>
        </div>
        {% endif %}

        {% if data["busiest"] is defined %}
          <div class="row">
            <div class="span12">
              <h2>Busiest users in feed</h2>
              <p>Users with protected accounts won't appear</p>
              <div class="span12">
                <div id="busiest_chart_div"></div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if data["hashtags"] is defined %}
        <h2>Most popular hashtags in feed</h2>
        <p>Non ASCII characters stripped, sorry</p>
        <div class="row">
          <div class="span4">            
            <div class="twitter-stats">
              <code></br>{% set i = 1 %}
              {%- for item in data["hashtags"] -%}
              {{ "%3s"|format(i)|replace(" ","&nbsp;")}}.  {{ item[0]|strFormat(format='{:.<30}')}}  {{item[1]|prettyint|strFormat(format="{: >6}")|replace(" ","&nbsp;")}}{% set i = i+ 1 %}<br/>{%- endfor -%}
              </code>
            </div>
          </div>
          <div class="span8">
            <div id="hashtags-cloud" class="cloud"></div>
          </div>
        </div>
        {% endif %}

        {% if data["words"] is defined %}
        <h2>Most popular words in feed</h2>
        <p>Non ASCII characters stripped, sorry</p>
        <div class="row">
          <div class="span4">            
            <div class="twitter-stats">
              <code></br>{% set i = 1 %}
              {%- for item in data["words"] -%}
              {{ "%3s"|format(i)|replace(" ","&nbsp;")}}.  {{ item[0]|strFormat(format='{:.<30}')}}  {{item[1]|prettyint|strFormat(format="{: >6}")|replace(" ","&nbsp;")}}{% set i = i+ 1 %}<br/>{%- endfor -%}
              </code>
            </div>
          </div>
          <div class="span8">
            <div id="words-cloud" class="cloud"></div>
          </div>
        </div>
        {% endif %}

        {% if data["busyHours"] is defined %}
        <h2>Busiest hours in feed</h2>
        <div class="row">
          <div class="span6">
          </div>
          <div class="span6">
            The graph <!--<div id="clients_chart_div"></div>-->
          </div>
        </div>
        {% endif %}

        {% if data["quietHours"] is defined %}
        <h2>Quietest hours in feed</h2>
        <div class="row">
          <div class="span6">
          </div>
          <div class="span6">
            The graph <!--<div id="clients_chart_div"></div>-->
          </div>
        </div>
        {% endif %}

        {% if data["busyDays"] is defined %}
        <h2>Busiest days in feed</h2>
        <div class="row">
          <div class="span6">
          </div>
          <div class="span6">
            The graph <!--<div id="clients_chart_div"></div>-->
          </div>
        </div>
        {% endif %}

        {% if data["quietDays"] is defined %}
        <h2>Quietest days in feed</h2>
        <div class="row">
          <div class="span6">
          </div>
          <div class="span6">
            The graph <!--<div id="clients_chart_div"></div>-->
          </div>
        </div>
        {% endif %}

        {% if data["postDay"] is defined %}
        <h2>Posts by day of week in feed</h2>
        <div class="row">
            <div class="span6">
            </div>
            <div class="span6">
              The graph <!--<div id="clients_chart_div"></div>-->
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Graphics Javascript -->

        <!--Load the AJAX API-->
        {% if data["hashtags"] or data["words"] is defined %}
            <style>
            div.cloud {margin-top: 50px;width: 600px;}
            .term-cloud {font-family: 'Ubuntu'; font-size: 20px; line-height: 25px;}
            .term-cloud-1 {font-size: 20px; color: #FEC44F; }
            .term-cloud-2 {font-size: 24px; color: #FE9929; }
            .term-cloud-3 {font-size: 28px; color: #EC7014; }
            .term-cloud-4 {font-size: 22px; color: #EC7014; }
            .term-cloud-5 {font-size: 26px; color: #CC4C02; }
            .term-cloud-6 {font-size: 42px; color: #CC4C02; }
            .term-cloud-7 {font-size: 46px; color: #993404; }
            .term-cloud-8 {font-size: 50px; color: #993404; }
            .term-cloud-9 {font-size: 54px; color: #662506; }
            .term-cloud-error {font-family: 'Ubuntu'; font-size: 10px; color: red; }
            .term-cloud-link {text-decoration: none; }
            .term-cloud-link:hover {text-decoration: none;}
            </style>
            <script type="text/javascript" src="http://visapi-gadgets.googlecode.com/svn/trunk/termcloud/tc.js"></script>
        {% endif %}

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

          // Load the Visualization API and the piechart package.
          google.load('visualization', '1.0', {'packages':['corechart']});
          
          var seQcolors = [
            '#FEE391',
            '#FEC44F',
            '#FE9929',
            '#EC7014',
            '#CC4C02',
            '#993404',
            '#662506'
          ]

          var quaColors = [
            '#E41A1C',
            '#377EB8',
            '#4DAF4A',
            '#984EA3',
            '#FF7F00',
            '#A65628',
            '#F781BF',
            '#999999'
          ]
          

          {% if data["clientCount"] is defined %}
          // Set a callback to run when the Google Visualization API is loaded.
          google.setOnLoadCallback(drawClientsChart);
          function drawClientsChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Client');
            data.addColumn('number', 'Count');
            data.addRows([{% set isNotFirst = false -%}
            {%- for item in data["clientCount"] -%}
        	  {% if isNotFirst %},{% endif %}
        	  ['{{item[1]|unidecode|striptags }}',{{item[0]}}]
        	  {%- set isNotFirst = true -%}
        	 {%- endfor -%}
            ]);

            // Set chart options
            var options = {
                colors:quaColors,
                'width':800,
                'height':800,
                fontName: 'Ubuntu'
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('clients_chart_div'));
            chart.draw(data, options);
          }
          {% endif %}

          {% if data["busiest"]  is defined %}
          google.setOnLoadCallback(drawBusiestChart);
          function drawBusiestChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'User');
            data.addColumn('number', 'Count');
            data.addRows([{% set isNotFirst = false -%}
            {%- for item in data["busiest"] -%}
            {% if isNotFirst %},{% endif %}
            ['{{item[1]}}',{{item[0]}}]
            {%- set isNotFirst = true -%}
           {%- endfor -%}
            ]);

            // Set chart options
            var options = {
                  width:800,
                  height:400,
                  colors: ['#DD4814'],
                  fontName: 'Ubuntu',
                  legend:{position:'none'}
                };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById('busiest_chart_div'));
            chart.draw(data, options);
          }
          {% endif %}

          {% if data["hashtags"]  is defined %}
          google.setOnLoadCallback(drawHT);
              function drawHT() {
                var data = new google.visualization.DataTable();
                  data.addColumn('string', 'Tag');
                  data.addColumn('number', 'Value');
                  data.addColumn('string','Link');
                  data.addRows([{% set isNotFirst = false -%}
                  {%- for item in data["cloudtags"] -%}
                  {% if isNotFirst %},{% endif %}
                  ['{{item[0]}}',{{item[1]}},'https://twitter.com/search?q={{item[0]|replace("#","%23")}}']
                  {%- set isNotFirst = true -%}
                 {%- endfor -%}
                  ]);
                var outputDiv = document.getElementById('hashtags-cloud');
                var tc = new TermCloud(outputDiv);
                tc.draw(data, null);
              }
            {% endif %}

            {% if data["words"]  is defined %}
            google.setOnLoadCallback(drawWC);
                function drawWC() {
                  var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Tag');
                    data.addColumn('number', 'Value');
                    data.addRows([{% set isNotFirst = false -%}
                    {%- for item in data["cloudwords"] -%}
                    {% if isNotFirst %},{% endif %}
                    ['{{item[0]}}',{{item[1]}}]
                    {%- set isNotFirst = true -%}
                   {%- endfor -%}
                    ]);
                  var outputDiv = document.getElementById('words-cloud');
                  var tc = new TermCloud(outputDiv);
                  tc.draw(data, null);
                }
              {% endif %}
        </script>