<h2>General</h2>

<code>
{{ "Run on"|strFormat(format='{:.<20}') }} {{data["general"]["run"]|strFormat(format='{:%A, %Y/%m/%d %H:%m:%S}')}}<br/>
{{ "Stats from"|strFormat(format='{:.<20}') }} {{data["general"]["from"]|strFormat(format='{:%Y/%m/%d %H:%M}')}}<br/>
{{ "Stats to"|strFormat(format='{:.<20}') }} {{data["general"]["to"]|strFormat(format='{:%Y/%m/%d %H:%M}')}}<br/>
{{ "Total tweets"|strFormat(format='{:.<20}') }} {{data["general"]["totalTweets"]|prettyint}}
</code>

<h2>Clients</h3>

<code>{% set i = 1 %}{% for item in data["clientCount"] %}
{{ "%3s"|format(i)|replace(" ","&nbsp;")}}.  {{ item[1]|unidecode|striptags|strFormat(format='{:.<40}')}}  {{item[0]|prettyint|strFormat(format="{: >6}")|replace(" ","&nbsp;")}}{% set i = i+ 1 %}<br/>{% endfor %}	
</code>

<h2>Busiest users in feed</h2>

<h2>Most popular hashtags in feed</h2>

<h2>Most popular words in feed</h2>

<h2>Busiest hours in feed</h2>

<h2>Quietest hours in feed</h2>

<h2>Busiest days in feed</h2>

<h2>Quietest days in feed</h2>

<h2>Posts by day of week in feed